[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
click = "*"
faker = "*"
flask = "*"
flask-cors = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
honcho = "*"
importlib-metadata = "*"
importlib-resources = "*"
itsdangerous = "*"
jinja2 = "*"
mako = "*"
markupsafe = "*"
python-dateutil = "*"
setuptools = "*"
six = "*"
sqlalchemy = "*"
sqlalchemy-serializer = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.11"
